.logo-section {
  margin: 0 auto;
  text-align: center;
  margin-top: 73px;
}
 
.logo-section img {
   margin-left: 44px;
  width: 100%;
  height: 204px;
}
 
.logo-section h1 {
  color: var(--text-color-secundaria);
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 4.4rem;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 16px;
}
 
.logo-section h2 {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.8rem;
  padding: 0 0 96px 0;
  color: var(--text-color-primaria);
  border-bottom: solid 3px rgba(77, 77, 77, 0.2);
 }