@media (max-width: 1440px) {
  .articles-container {
    justify-content: space-evenly;
  }
   
  .articles-coluna {
    min-width: 320px;
  }
}

@media (max-width: 1281px) {
  header nav ul li:first-child {
    right: 1em;
    margin-right: 9em;
  }
  
  .listing-section {
    width: 76%;
  }
  
  main .listing-section nav div {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .articles-container {
    max-width: 1024px;
  }
  
  .rodape li:last-child {
    margin-left: auto;
  }
  
  footer div {
    width: 90%;
  }
}

@media (max-width: 1025px) {
  header nav ul li:first-child {
    right: 0;
    margin-right: 0;
  }

  .articles-container {
    max-width: 690px;
    justify-content: space-between;
  }
}

@media (max-width: 641px) {
  header nav ul li {
    font-size: 1.2rem;
  }
  header nav ul li:first-child {
    font-size: 1.5rem;
  }
  .logo-section h1 {
    font-size: 3.6rem;
  }
  .logo-section h2 {
    font-size: 1.4rem;
  }
  main nav ul li {
    font-size: 1.2rem;
  }
  main section img {
    width: 20px;
  }
  .articles-container {
    width: 95%;
  }
  .articles-coluna {
    min-width: 280px;
  }
  .numeracaoDaPagina li {
    font-size: 1.2rem;
  }
  .rodape ul li {
    font-size: 1.4rem;
  }
  .rodape li span {
    font-size: 1rem;
  }
}

@media (max-width: 421px){
  header nav ul li {
    font-size: 0.8em;
  }
  header nav ul li:first-child {
    font-size: 1rem;
  }
  .logo-section img {
    width: 40%;
    margin-left: 60px;
  }
  .logo-section h1 {
    font-size: 2.6rem;
  }
  .logo-section h2 {
    font-size: 1rem;
  }
  main nav ul li {
    font-size: 1rem;
  }
  main section img {
    width: 16px;
  }
  .articles-container {
    width: 87%;
  }
  .articles-coluna {
    min-width: 360px;
  }
  .numeracaoDaPagina li {
    font-size: 1rem;
  }
  .rodape ul li {
    font-size: 1.1rem;
  }
  .rodape li span {
    font-size: 0.7rem;
  }
}