:root {
  --bg-color-primaria: #232830;
  --text-color-primaria: #FFF;
  --text-color-secundaria: #FF7575;
  --text-color-terciaria: #909090;
  --text-color-quartenaria: #0F1217;
  --border-color: #4D4D4D;
  --fonte-primaria: 'Poppins';
  --fonte-secundaria: 'Recursive';
}

* {
  background-color: var(--bg-color-primaria);
}


/* --------------------------- Cabeçalho --------------------------- */

header {
  color: var(--text-color-primaria);
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: 5.6rem;
}

header nav ul {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2.25rem;
  padding: 0 2rem;
}

header nav ul li {
  min-width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  cursor: pointer;
  list-style: none;
  font-family: var(--fonte-primaria);
  line-height: 2.25rem;
  font-weight: 400;
}

.writings {
  margin-right: 41.25rem;
  font-size: 1.9rem;
  line-height: 2.8rem;
}

header nav ul li:hover {
  color: var(--text-color-secundaria);
}


/* --------------------------- Main --------------------------- */


/* -------- Logo --------- */

.logo-section {
  margin: 0 auto;
  text-align: center;
  margin-top: 4.6rem;
}

.logo-section img {
  width: 100%;
  height: 12.8rem;
}

.logo-section h1 {
  color: var(--text-color-secundaria);
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 4.4rem;
  font-style: italic;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.logo-section h2 {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.8rem;
  padding: 0 0 6rem 0;
  color: var(--text-color-primaria);
  border-bottom: solid 3px rgba(77, 77, 77, 0.2);
}


/* ----- Listagem de categorias ----- */

main nav ul {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

main .listing-section nav div {
  display: flex;
  min-width: fit-content;
  height: fit-content;
  gap: 2.2rem;
}

main section div:first-child {
  width: 100%;
  gap: 0.8rem;
  margin-right: 2.5rem;
}

main nav ul li {
  font-family: var(--fonte-secundaria);
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.4rem;
  color: var(--text-color-terciaria);
  cursor: pointer;
  list-style: none;
}

main nav ul li:hover {
  color: var(--text-color-secundaria);
}